@charset "utf-8";
.divcontainer {
    position: fixed;
    z-index: 2;
    font-family: "微软雅黑";
    font-size: 18px;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
}
.likeicon {
    background-image: url(../images/like.png);
    background-position-y: top;
    height: 23.9946px;
    display: inline-block;
    width: 23.9946px;
    vertical-align: bottom;
}
.likeicon:hover {
    background-position-y: bottom;
}
.dislikeicon {
    background-image: url(../images/like.png);
    background-position-y: top;
    height: 23.9946px;
    display: inline-block;
    width: 23.9946px;
    vertical-align: bottom;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* Internet Explorer */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
    -o-transform: rotate(180deg); /* Opera */
}
.dislikeicon:hover {
    background-position-y: bottom;
}
.hovertip {
    position: fixed;
    display: none;
}
#oBigDiv {
    position: fixed;
    background-color: rgb(199, 232, 207);
    width: 100%;
    bottom: 0;
    /*    animation: oBigDivshow 3s;*/
    padding: 0px;
    margin: 0;
}
@keyframes oBigDivhide {
    from {
        bottom: 0px;
    }
    to {
        bottom: -50px;
    }
}
@keyframes tipshow {
    from {
        bottom: 0px;
    }
    to {
        bottom: 50px;
    }
}
@keyframes oBigDivanimate {
    from {
        right: 00px;
    }
    to {
        left: -400px;
    }
}
@keyframes oBigDivshow {
    from {
        bottom: -50px;
    }
    to {
        bottom: 0;
    }
}
#sendtip {
    font-family: 楷体;
    color: #00df00;
    position: absolute;
    visibility: hidden;
    left: 0px;
    right: 0px;
}